{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}/home.css"/>
<!--main-->
<img src="{IMG_PATH}/img/home.jpg" class="home-img" alt="" />
	
	<!-- start 文字列表部分 -->
	<ul class="home-list clearfix">
		<li>
			<h3>银行业解决方案</h3>
			<p>百融金服秉持公正、中立、客观的第三方立场，坚持社会良知和责任，坚持开放、互补的数据联盟战略，致力于运用新技术、新手段，为金融机构搭建营销与风控体系，立志成为国内金融领域最第三方风控及营销服务提供商，并以传播诚信文化理念......</p>
			<a href="###"></a>
		</li>
		<li>
			<h3>保险业解决方案</h3>
			<p>百融金服秉持公正、中立、客观的第三方立场，坚持社会良知和责任，坚持开放、互补的数据联盟战略，致力于运用新技术、新手段，为金融机构搭建营销与风控体系，立志成为国内金融领域最第三方风控及营销服务提供商，并以传播诚信文化理念......</p>
			<a href="###"></a>
		</li>
		<li>
			<h3>小额贷款解决方案</h3>
			<p>百融金服秉持公正、中立、客观的第三方立场，坚持社会良知和责任，坚持开放、互补的数据联盟战略，致力于运用新技术、新手段，为金融机构搭建营销与风控体系，立志成为国内金融领域最第三方风控及营销服务提供商，并以传播诚信文化理念......</p>
			<a href="###"></a>
		</li>
	</ul>
	<!-- end 文字列表部分 -->
	
	<div class="ktmo clearfix">
		<div class="ktmo-a">
			<h3 class="hr">百融资讯</h3>
			<ul class="ktmo-list clearfix">
				<li><a href="###" class="w64">[百融动态]</a><a href="###" class="w170">合肥网上线推荐引擎</a></li>
				<li><a href="###" class="w64">[百融动态]</a><a href="###" class="w170">省委新闻网上线推荐引擎</a></li>
				<li><a href="###" class="w64">[百融动态]</a><a href="###" class="w170">江苏外宣网上线推荐引擎</a></li>
				<li><a href="###" class="w64">[百融资讯]</a><a href="###" class="w170">社科规划网上线推荐引擎</a></li>
				<li><a href="###" class="w64">[百融动态]</a><a href="###" class="w170">江苏外宣网上线推荐引擎推荐引擎推荐引擎推荐引擎</a></li>
			</ul>
		</div>
		<div class="ktmo-b">
			<h3 class="hr">专题/白皮书</h3>
			<div class="nei">
				<img src="{IMG_PATH}/img/ren.jpg" alt="" />
				<h4>大数据时代的进步社会</h4>
				<p>7月25日，国内领先的大数据技术与应用服务商集团发布全新的践行大数据战略，并宣布</p>
				<a href="###"></a>
			</div>
		</div>
		<div class="ktmo-c">
			<h3 class="hr">百融案例</h3>
			<a href="###" class="a-img"><img src="{IMG_PATH}/img/case.jpg" alt="" /></a>
			<span class="case-tit">没有可视化，就没有大数据<span>
		</div>
		<div class="ktmo-c">
			<h3 class="hr">百融视频</h3>
			<a href="###" class="a-img"><img src="{IMG_PATH}/img/video.jpg" alt="" /></a>
			<span class="case-tit">没有可视化，就没有大数据<span>
		</div>
	</div>

</div>
<!-- end 外框 -->
{template "content","footer"}