{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}/news.css"/>
	
	<!-- start 列表部分 -->
	<dl class="dl-list clearfix">
		<dt><span>新闻资讯</span><em>NEWS</em></dt>
                
                
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
                
                
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
		<dd>
			<a href="###" class="st">【公司动态】</a>
			<a href="###" class="at">最新文章2014年累计合同总额增长400%</a>
			<span class="time">2015-04-02</span>
		</dd>
	</dl>
	<script type="text/javascript">
		$('.dl-list dd').each(function(i,e){if((i+1)%5===0){$(e).addClass('br');}});
	</script>
	<!-- end 列表部分 -->
	<div class="page">
		<a href="###" class="on">1</a>
		<a href="###">2</a>
		<a href="###">3</a>
		<a href="###">4</a>
		<a href="###">5</a>
		<a href="###">6</a>
		<a href="###">7</a>
		<a href="###">8</a>
		<a href="###">9</a>
		<a href="###">10</a>
		<a href="###">下一页</a>
	</div>


</div>
<!-- end 外框 -->
{template "content","footer"}
